nav {
    color: #6a6b6d !important;
    display: flex;
    height: 80px;
}

.navbar-brand{
    width: 15%;
    font-size: 1.8rem;
    color: #6a6b6d !important;
    margin-left: 1rem;
}

.searchproduct{
    width: 60%;
    background: #fff;
    border-radius: 30px !important;
    box-shadow: 0 2px 8px 0 rgb(34 41 47/ 14%);
}

form > #search{
    width: 90%;
    background: none;
    outline: none;
    border: none;
}

form > button{
    width: 10%;
    background: none;
    outline: none;
    border: none;
}

nav a {
    color: #6a6b6d !important;
}

.fa-user{
    line-height: 32px;
}

.iconcart{
    margin-left: 30px;
}

