nav {
    color: #6a6b6d !important;
    display: flex;
    height: 80px;
}

.navbar-brand{
    width: 15%;
    font-size: 1.8rem;
    color: #6a6b6d !important;
    margin-left: 1rem;
}

form{
    width: 80%;
    background: #fff;
}

form > #search{
    width: 90%;
    background: none;
    outline: none;
    border: none;
}

form > button{
    width: 10%;
    background: none;
    outline: none;
    border: none;
}

nav a {
    color: #6a6b6d !important;
}

.fa-user{
    line-height: 32px;
}

.btnlogin{
    border-radius: 30px;
    margin-left: 30px;
}

.iconcart{
    margin-left: 30px;
}
/*
.menu{
    width: 80%;
}

li {
    list-style: none;
}

li > a {
    color: #fff;
}

.category {
    text-align: center;
}
.category > li {
   
    display: inline-block;
    padding: 20px;
}

.category > li >a{
    color: #000;
}

.btnsearch{
    background-color: #fff;
    height: 40px;
    border-radius: 0 7px 7px 0;
}

#search{
    width: 60%;
}

*/
