#carousel{
    height: 900px;
    width: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
  //  background: #1daadf;
   
}

.carousel-item > img{
    width: 80%;
    height: 900px;
  //  padding: 15px;
    justify-content: center;
}

.carousel-control-prev, .carousel-control-next {
    width: 2% !important;
    color: #000000;
}

.imgpopular{
    width: 250px !important;
    height: 300px !important;
}

.card-img-top{
    height: 315px !important;
}

.imagesolde{
    height: 300px;
}

.btncategory {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%,-50%);
    background-color: #212529;
    color: #fff;
    border: 1px solid #212529;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.btncategory > a {
    color: #fff !important;
}
.category:hover .btncategory {
    visibility: visible;
    transform: translate(-50%,-50%);
    opacity: 1;
}



.cardproduct{
    width: 89%;
    height: 400px;
    margin: 0 auto;
}

.card-content{
    padding: 10px;
}

a{
    text-decoration: none;
    color: #000000;
}

.productprice{
    position: absolute;
    bottom: 0;
    transform: translateX(50%);
}


.single-publication {
    height: 500px;
    width: 274px;
    padding: 18px !important;
    //box-shadow: 0 2px 8px 0 rgb(34 41 47/ 14%);
    //border: 1px solid #252522;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.single-publication figure {
    position: relative;
    margin: 0;
    text-align: center;
    //height:210px;
}
.single-publication figure > a {
    background-color: #fafafa;
    display: block;
}

.single-publication .publication-content {
    text-align: center;
    padding: 10px;
}
.single-publication .publication-content .category {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #069ee5;
    font-weight: 600;
}
.single-publication .publication-content h3 {
    font-weight: 600;
    margin: 8px 0 10px;
    font-size: 20px;
}
.single-publication .publication-content h3 a {
    color: #1f2d30;
}
.single-publication .publication-content h3 a:hover {
    color: #141516;
}
.single-publication .publication-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
.single-publication .publication-content ul li {
    display: inline-block;
    font-size: 18px;
    color: #fec42d;
}
.single-publication .publication-content .price {
    font-size: 18px;
    color: #141516;
}
.single-publication .publication-content .price span {
    color: #6f6f6f;
    text-decoration: line-through;
    padding-left: 5px;
    font-weight: 300;
}

.single-publication .add-to-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
   // visibility: hidden;
    text-align: center;
}
/*
.single-publication:hover .add-to-cart {
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    //opacity: 0.5;
}
*/
.single-publication .add-to-cart .default-btn {
    margin-top: 28px;
    padding: 8px 25px;
    font-size: 14px;
}
.single-publication .category {
    margin: 0;
}
.single-publication .add-to-cart .default-btn {
    margin-top: 28px;
    padding: 8px 25px;
    font-size: 14px;
}
.default-btn {
    width: 242px;
    background-color: #212529;
    color: #fff;
    border: 1px solid #212529;
    display: inline-block;
    padding: 10px 30px;
   // border-radius: 30px;
    text-transform: uppercase;
   // font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.add-to-cart >ul>li {
    display: inline-block;
}


footer{
    height: 500px;
    width: 100%;
    background-color: #E0E7EE;
}